# Claude Telemetry — Configuration

CLAUDE_TELEMETRY_USERNAME=yejh
CLAUDE_TELEMETRY_EMAIL=yejh@gm.com

CLAUDE_TELEMETRY_MONGODB_ENABLE_PROXY=true
CLAUDE_TELEMETRY_MONGODB_PROXY_URL=http://149.28.225.133:5100/
CLAUDE_TELEMETRY_MONGODB_DATABASE=baseline
CLAUDE_TELEMETRY_MONGODB_ENABLED=true
